.center {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.inline {
    display: inline-block !important;
}

.escolha-lbl {
    margin-right: 25px;
    margin-left: 25px;
    height: 100%;
    vertical-align: middle;
}

.align-top {
    vertical-align: top;
}